nav{
    background-color: black;
}
nav ul{
    list-style-type: none;
    overflow: hidden;
    padding: 0;
}
nav ul li{
    float: left;
}
nav ul li a{
    display: block;
    padding: 15px 12px;
}
.tabs{
    border-radius: 5px;
}

@media  screen and(min-device-width: 768px) and(max-device-width: 1024px)and(-webkit-min-device-pixel-ratio: 1){
    img{
        display: none;
    }
}